
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  
  .container {
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-left,
  .form-right {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .form-left {
    text-align: center;
    margin-left: 20px;
  }
  
  .form-right {
    margin-left: 20px;
    margin-right: 20px;
    
  }

  .headtext{
    font-size: 100px;
    color: #E80500;
  }

  .text{
    color: #000;
  }
  
  h2 {
    text-align: center;
    font-size: 40px;
    color: #E80500;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    display: inline-block;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="submit"] {
    margin-left: 20%;
    width: 60%;
    height: 60px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 30px;
  }

  input::placeholder{
    padding-left: 10px;
    font-size: 15px;
  }

  i{
    margin-left: 22%;
    width: 25px;
  }
  
  .btn {
    margin-top: 20px;
    border-width: 100px;
    background-color: #E80500;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: maroon;
  }
  
  .reg{
    margin-top: 5%;
    text-align: center;
  }

  .reg a{
    color: #E80500;
    text-decoration: none;
  }